<div *ngIf="hero" class="details-container" [ngStyle]="{ background: getBackgroundColor(hero.power) }" >

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>power: </span>{{hero.power}}</div>
    <div>Nationality: {{hero.nationality}}</div>
    <div>Health:{{hero.health}}</div>
    <div>Speed: {{hero.speed}}</div>
    <div>difficulty: {{hero.difficulty}}</div>
    <div>Role: {{hero.role}}</div>
    <div>Ability: {{hero.ability}}</div>
    <div>Description: {{hero.description}}</div>
  </div>